:root {
  --montserrat: 'Montserrat', serif;
  --fira: 'Fira Sans', serif;
  --blue: rgb(101, 110, 194);
  --black: rgb(40, 38, 38);
  --gray: rgb(118, 118, 118);
  --green: rgb(38, 117, 4);
  --red: rgb(130, 10, 10);
  --box-shadow: 0px 7px 12px 0px rgba(100, 100, 111, 0.2);
}

.page {
  max-width: 1636px;
  margin: auto;
  padding: 20px;
}

.search-container {
  position: fixed;
  top: 0px;
  left: 50%;
  padding: 129px 0px 0px;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1636px;
  background-color: #ffffff;
}

.input-container {
  max-width: 626px;
  margin: auto;
}

.input {
  width: 100%;
  padding: 19px 25px;
  font-family: var(--fira);
  font-weight: bold;
  font-size: 22px;
  color: var(--blue);
  border: none;
  box-shadow: var(--box-shadow);
}

.input:focus {
  border: none;
  outline: none;
}

.input::placeholder {
  color: var(--blue);
}

.count-container {
  max-width: 626px;
  margin: auto;
  padding: 13px 0px 67px 39px;
}

.count {
  font-family: var(--montserrat);
  font-size: 16px;
  color: var(--black);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding-top: 272px;
}

.card {
  box-shadow: var(--box-shadow);

  h2 {
    font-family: var(--fira);
    color: var(--black);
  }

  .card-info {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    font-family: var(--montserrat);
    font-size: 14px;
  }
}

.card:first-child,
.card:nth-child(2) {
  grid-column: span 3;

  h2 {
    font-size: 30px;
  }

  a {
    height: 262px;
    padding: 19px 30px;
  }
}

.card:nth-child(n + 3) {
  grid-column: span 2;

  h2 {
    font-size: 25px;
  }

  a {
    height: 150px;
    padding: 20px 34px 12px;
  }
}

.card a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--gray);
  text-decoration: none;
}

.card a:hover {
  background-color: rgb(101, 110, 194, 0.1);
}

.dead,
.alive,
.unknown {
  font-weight: bold;
}

.dead {
  color: var(--red);
}

.alive {
  color: var(--green);
}

.unknown {
  color: var(--blue);
}

@media screen and (max-width: 1200px) {
  .card:first-child,
  .card:nth-child(2) {
    a {
      height: 210px;
    }
  }
}

@media screen and (max-width: 1130px) {
  .card:nth-child(n + 3) {
    grid-column: span 3;
  }
}

@media screen and (max-width: 800px) {
  .card:first-child,
  .card:nth-child(2) {
    grid-column: span 6;

    h2 {
      font-size: 28px;
    }

    a {
      height: 180px;
    }
  }

  .card:nth-child(n + 3) {
    h2 {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 768px) {
  .search-container {
    position: relative;
    padding: 50px 0px 0px;
    max-width: 768px;
    width: 100%;
    background-color: #ffffff;
  }

  .input-container {
    max-width: 490px;
    margin: auto;
  }

  .input {
    padding: 14px 20px;
    font-size: 20px;
  }

  .count-container {
    max-width: 490px;
    padding: 13px 0px 50px 39px;
  }

  .cards-container {
    padding-top: 0px;
    gap: 10px;
  }

  .card:first-child,
  .card:nth-child(2) {
    h2 {
      font-size: 25px;
    }

    a {
      height: 150px;
    }
  }

  .card:nth-child(n + 3) {
    .card-info {
      flex-direction: column;
      line-height: 22px;
    }

    h2 {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .card:first-child,
  .card:nth-child(2) {
    a {
      height: 140px;
      padding: 11px 22px;
    }
  }

  .card:nth-child(n + 3) {
    grid-column: span 6;

    .card-info {
      flex-direction: row;
    }

    a {
      height: 120px;
      padding: 12px 26px 4px;
    }
  }
}

@media screen and (max-width: 370px) {
  .card:first-child,
  .card:nth-child(2) {
    .card-info {
      line-height: 22px;
      flex-direction: column;
    }
  }

  .card:nth-child(n + 3) {
    .card-info {
      flex-direction: column;
    }
  }
}
